.background
    margin-top: 7rem

.profile-container
    text-align: center

    h4
        color: #d4c3af
        margin-top: 1rem

    img-lazy
        width: 128px
        border-radius: 50%
        margin: auto
