<h5>My Team</h5>
<div class="row myteam-container">
    <div class="col-4" *ngFor="let digible of myTeam$ | async; let i = index" (click)="onCardOpenSelect(i, digible)">
        <div class="card data-augmented-ui" data-augmented-ui="tl-clip br-clip tr-clip br-clip        ">
            <ng-container *ngIf="digible == undefined; else selectedCard">
                <div class="d-flex justify-content-center align-items-center" style="min-height: 180px;">
                    <div class="text-center">
                        <h1 class="fat-text text-color-bg">
                            +
                            <br>
                            <span> Select Digible </span>
                        </h1>
                    </div>
                </div>
            </ng-container>

            <ng-template #selectedCard>
                <digi-card name="{{digible.name}}" image="https://ipfs.arkerlabs.com/ipfs/{{digible.img}}"
                    bgTitle="{{digible.specialType}}" bgTitle="{{digible.specialType}}">
                </digi-card>
            </ng-template>
        </div>
    </div>
</div>

<div class="alert alert-info text-center mt-4" role="alert">
    Attacks have an accuracy of <br> 100% - (strength/1.5)
</div>

<div class="text-center">
    <h3>Select a match</h3>
    <div class="d-flex">
        <button class="btn btn-primary w-100 ci f-1" (click)="onAttack()" [ngClass]="{'isDisabled' : isDisabled}">
            Offline
        </button>
        <button class="btn btn-primary w-100 ci f-1 isDisabled" (click)="onLive()">
            Live
        </button>
    </div>
</div>
<hr>
<div class="btn btn-primary text-center top isDisabled" (click)="onLive()">
    Top 4 challenge
    <img src="assets/top.png" />
</div>