.myteam-container
    max-width: 700px

    .col-4
        padding: 2px

    .card
        border-radius: 10px

        .card-body
            padding: 0px

    ::ng-deep
        .text-power::after
            content: "POWER"
            position: absolute
            z-index: 0
            left: 0px
            color: rgb(66 66 66)
            opacity: 0.1
            top: 5px
            width: 100%

.btn-primary
    font-size: 37px
    font-weight: bold
    background: #1b1939
    box-shadow: 6px 11px 20px #717171
    padding: 30px
    margin: 10px

.card
    background: transparent

.fat-text
    font-size: 40px

    span
        font-size: 16px
        text-shadow: none

.outer-circle
    background: grey

.isDisabled
    opacity: 0.3

.top
    width: 100%
    position: relative
    overflow: hidden
    margin: auto
    flex: 1

    img
        position: absolute
        height: 100%
        right: 0
        opacity: 0.5
