<h2>My team (DEMO)</h2>
<div class="row myteam-container">
    <div class="card col-4" *ngFor="let digible of myTeam$ | async; let i = index"
        (click)="onCardOpenSelect(i, digible)">
        <div class="card-body">
            <ng-container *ngIf="digible == undefined; else selectedCard">
                <div class="d-flex justify-content-center align-items-center" style="min-height: 180px;">
                    <div class="text-center">
                        <h1 class="fat-text">
                            +
                            <br>
                            <span style="font-size:14px;"> Select Digible </span>
                        </h1>
                    </div>
                </div>
            </ng-container>

            <ng-template #selectedCard>
                <digi-card name="{{digible.name}}" image="https://ipfs.arkerlabs.com/ipfs/{{digible.img}}"
                    bgTitle="{{digible.specialType}}">
                </digi-card>
            </ng-template>
        </div>
    </div>
</div>
<hr>
<p class="text-center"> Note : Attacks have an accuracy of : 100% - (strength/1.5) </p>
<hr>

<button class="btn btn-primary w-100" (click)="onAttack()">Attack</button>
<br>
<br>
<br>
Todos<br>
- Conditions<br>
- Types<br>
- UI<br>