.myteam-container
    max-width: 700px

    .col-4
        padding: 2px

    .card
        border-radius: 10px

        .card-body
            padding: 0px

    ::ng-deep
        .text-power::after
            content: "POWER"
            position: absolute
            z-index: 0
            left: 0px
            color: rgb(66 66 66)
            opacity: 0.1
            top: 5px
            width: 100%

.btn-primary
    color: #fff
    background-color: #b4c5ff
    border-color: #f0f0f0
    font-size: 30px
    font-weight: bold
    line-height: 48px
    box-shadow: 4px 4px 5px #e6e6e6
    padding-bottom: 1rem
