<h2>My team (DEMO)</h2>
<div class="row myteam-container">
    <div class="card col-4" *ngFor="let digible of myTeam$ | async">
        <div class="card-body">
            <digi-card [routerLink]="['/digibles', digible.tid]" name="{{digible.name}}"
                image="https://ipfs.arkerlabs.com/ipfs/{{digible.img}}" bgTitle="{{digible.specialType}}">
            </digi-card>

        </div>
    </div>
</div>
<hr>
<p class="text-center"> Note : Attacks have an accuracy of : 100% - (strength/1.5) </p>
<hr>

<button class="btn btn-primary w-100" (click)="onAttack()">Attack</button>
<br>
<br>
<br>
Todos<br>
- Conditions<br>
- Types<br>
- Switch card<br>
- UI<br>