h2
    text-align: center
    color: #c7bba5
    margin-top: 100px

.map-container
    position: absolute
    left: 0px
    top: 120px
    overflow: auto

    .map
        width: 1200px
        height: 1200px
        position: relative
        background: url(/assets/floor.png) repeat

        .player
            position: absolute
            width: 16px
            height: 32px
            transition: all 0.25s ease

            img
                width: 26px
                margin-top: -1.5rem

            label
                font-size: 9px
                width: 50px
                color: white
                white-space: nowrap
                overflow: hidden
                text-overflow: ellipsis
                margin: 0px
                margin-left: -1rem
                padding: 5px
                text-shadow: 1px 1px 4px black
