<div class="bg">

    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>

    <div class="text-center" style="margin-top: 8rem;padding:1rem;">
        <img class="logo img-fluid ani" src="assets/logo.png" />
        <h1 class="ani ci">DIGIBLE MASTER</h1>
    </div>


    <div class="text-center mt-2">
        <h2>Collect & Conquer</h2>
    </div>

    <div class="text-center mt-4">
        <span class="material-icons">
            brightness_1
        </span>
        <h3 class="mt-2">Buy your physical backed NFTs on</h3>
        <h1 class="info-text"><a href="www.digible.io">Digible.io </a></h1>
    </div>
</div>