<h1 mat-dialog-title class="text-center">Select a Digible</h1>
<div mat-dialog-content>
    <div class="alert alert-info text-center mt-0" role="alert">
        Only the basic set is available because you are not logged in
    </div>
    <div class="row">
        <div class="col-6 col-md-3 mb-4 lg-3 " *ngFor="let digible of availableDigiNfts"
            [ngClass]="{'selected' : selectedDigiNft?.tid == digible.tid}">
            <digi-card (click)="onSelectCard(digible)" name="{{digible.name}}" bgTitle="{{digible.specialType}}"
                image="https://ipfs.arkerlabs.com/ipfs/{{digible.img}}" bgTitle="{{digible.specialType}}">
            </digi-card>
        </div>
    </div>
</div>