/* You can add global styles to this file, and also import other style files */
html
    body
        background: #fbf6f0
        min-height: calc( 100vh - 100px )

.btn-primary
    color: #fff
    background-color: #1b1939
    border-color: #1b1939
    box-shadow: 4px 4px 5px #e6e6e6
